%h1 Similar Movies by #{@director}
%table#movies
    %thead
        %tr
            %th Title
            %th Rating
            %th Release Date
            %th Director
            %th More Information
    %tbody
        - @movies.each do |movie|
            %tr
                %td= movie.title
                %td= movie.rating
                %td= movie.release_date
                %td= movie.director
                %td= link_to "Info for #{movie.title}", movies_with_same_director_path(movie)
